*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    max-width: 1000px;
    margin: auto;
    background-color: black;
    
}

/*=-=-=-=--== Header =-=-===-=-=*/
.container_header{
    background-color: #48C5CE;
    box-sizing: border-box;
    padding: 10px;
}
.container_header h1{
    margin: auto;
    font-size: 26px;
    text-align: center;
    color: #ffff;
    text-transform: uppercase;
}

/*=-=-=-=-= Main =-=-=-=--=-*/
#main_section{
    background-image: url(/images/people.jpg);
    background-size: cover;
    overflow: hidden;
}
.sigin{
    width: 230px;
    background-color:rgba(255, 255, 255, 0.562);
    float: right;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}
.paragraph{
    margin-bottom: 15px;
}
.alfa{
    font-size: 16px;
    text-transform: uppercase;
}
.input_style{
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: none;
}
.input_style[type=submit]{
    margin-bottom: 0;
    color: white;
    background-color:#48C5CE;
    font-weight: bold;
}
select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(/images/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}
/* =-=-=-==-=-Footer=-=-=-=-==*/
footer{
    color: white;
}
.container_footer{
    background-color: #202121;
    text-align: center;
    padding: 40px;
}
#sobre{
    max-width: 40%;
    display: inline-block;
    margin-left: 40px;
    text-align: left;
}
#sobre h2, p{
    margin-bottom: 20px;
}
#parag1{
    margin-bottom: 0px;
}